body{
    background: #191c1f;
}

.table{
    margin: 20px 0px 0px 70px;
    width: 80%;
}
.toolbar{
    margin: 30px 0px 0px 1080px;
    display: flex;
    column-gap: 20px;
}

.button-image{
    width: 25px;
    height: 25px;
}

.button-image:last-child{
    width: 25px;
    height: 25px;
    margin: 0px 7px 0px 0px;
}

.index-link{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: 300px 0px 0px 780px;
}